.columns.is-centered
  .column.is-3.box
    %p.title Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      - if resource.errors.any?
        %p.notification.is-danger Sorry, try again!
        - first_name_danger   = 'is-danger' unless resource.errors[:first_name]           .empty?
        - last_name_danger    = 'is-danger' unless resource.errors[:last_name]            .empty?
        - email_danger        = 'is-danger' unless resource.errors[:email]                .empty?
        - password_danger     = 'is-danger' unless resource.errors[:password]             .empty?
        - confirmation_danger = 'is-danger' unless resource.errors[:password_confirmation].empty?

      .field
        = f.label :first_name, class: :label
        .control
          = f.text_field :first_name, class:        "input #{ first_name_danger }", |
                                      placeholder:  'Anton',                        |
                                      autocomplete: 'given-name',                   |
                                      autofocus:     true                           |
          - resource.errors.full_messages_for(:first_name).each do |msg|
            %p.help.is-danger= msg

      .field
        = f.label :last_name, class: :label
        .control
          = f.text_field :last_name, class:        "input #{ last_name_danger }", |
                                     placeholder:  'Cambridge',                   |
                                     autocomplete: 'family-name'                  |
          - resource.errors.full_messages_for(:last_name).each do |msg|
            %p.help.is-danger= msg

      .field
        = f.label :email, class: :label
        .control
          = f.email_field :email, class:        "input #{ email_danger }", |
                                  placeholder:  'cambridge@example.com',   |
                                  autocomplete: 'email'                    |
          - resource.errors.full_messages_for(:email).each do |msg|
            %p.help.is-danger= msg

      .field
        = f.label :password, class: :label
        .control
          - if @minimum_password_length
            %em.help
              (#{@minimum_password_length} characters minimum)
          = f.password_field :password, class:        "input #{ password_danger }", |
                                        placeholder:  "\u2022" * 6,                 |
                                        autocomplete: 'new-password'                |
          - resource.errors.full_messages_for(:password).each do |msg|
            %p.help.is-danger= msg

      .field
        = f.label :password_confirmation, class: :label
        .control
          = f.password_field :password_confirmation, class:        "input #{ confirmation_danger }", |
                                                     placeholder:  "\u2022" * 6,                     |
                                                     autocomplete: 'new-password'                    |
          - resource.errors.full_messages_for(:password_confirmation).each do |msg|
            %p.help.is-danger= msg

      .field
        .contol.has-text-centered
          = f.submit 'Sign up', class: 'button is-link is-rounded width-75'
    = render "devise/shared/links"
