- nesting     = local_assigns.fetch(:nesting, 1)
- max_nesting = local_assigns[:max_nesting]

.tile.is-child
  %p.weight-semibold= link_to full_name(comment.user), user_path(comment.user)
  %p= simple_format comment.body
  %p.grey= creation_time(comment)

  %div{ 'data-controller' => 'reply' }
    = link_to 'Reply', '#', data: { action: 'click->reply#toggle' }
    -# This feature isn't final for an author of the post
    -#  or an owner of the wall should be able to delete comments too
    - if comment.user == current_user
      = link_to 'Delete', [comment.commentable, comment],       |
                           method: :delete,                     |
                             data: { confirm: 'Are you sure?' } |
    \
    = render partial:  'comments/form',                                        |
      locals: { commentable: comment.commentable,                              |
                parent_id:  reply_to_comment_id(comment, nesting, max_nesting),
                    class: 'is-hidden',
                   target: 'reply.form' }

  .tile.is-parent.is-vertical
    = render comment.comments,     nesting: nesting + 1,                |
                               max_nesting: local_assigns[:max_nesting] |
