-# Current comment nesting depth level
- nesting_depth = local_assigns.fetch(:nesting_depth, 1)
-# Amount of comments of one thread that available on one page.
-#   Other comments of the same thread will be moved to a separate page
- nesting_limit = local_assigns[:nesting_limit]

-# Give each thread block an individual id in order to be able anchor any of it
%li{ id: dom_id(comment) }

  -# Block of a single comment
  .message
    .message-body#comment-body
      - if comment.deleted?
        %span.semibold [deleted]
      - else
        %span.semibold= link_to full_name(comment.author), |
                                user_path(comment.author)  |

      %span= link_to '[link to this comment]', url_for(comment: comment.id,
                                                        anchor: dom_id(comment))

      .my-3
        = simple_format comment.body
      %p.grey.mb-3= formatted_creation_time_of(comment)

      -# Block of the reply-to-comment form. Required by stimulus js
      .mt-1{ 'data-controller' => 'reply' }
        -# Button that toggles visibility of the form
        = link_to 'Reply', '#',                             |
                   data: { action: 'click->reply#toggle' }, |
                  class:  'button is-info is-outlined       |
                           button--reply-to-comment'        |
        -# target: the pointer for stimulus to the form
        = render 'comments/form',                            |
                  commentable:  comment.commentable,         |
                       target: 'reply.form',                 |
                        class: 'is-hidden mt-4 is-clearfix', |
                    parent_id:  comment.id                   |

      -# Button to delete comment
      = link_to_if comment.author == current_user,                 |
                   '',                                             |
                  [comment.commentable, comment],                  |
                   method:  :delete,                               |
                     data: { confirm: 'Delete comment?' },         |
                    class:  'fa fa-trash-o button--delete-comment' |

  -# Block that contain children comments of the comment above
  %ul.ml-4{ id: "#{ dom_id(comment) }_comments" }

    -# If nesting depth isn't set or has reached its limit
    -#   move subsequent comments to the next page
    -# Otherwise keep nesting
    - if nesting_limit.present? && (nesting_depth >= nesting_limit)
      = link_to 'Continue this thread ➔',                                      |
                 url_for(parent_comment: comment.id, anchor: dom_id(comment)), |
                 class: 'button is-outlined mb-5 is-info'                      |

    - else
      = render comment.comments, nesting_limit: nesting_limit,    |
                                 nesting_depth: nesting_depth + 1 |
