-# Current comment nesting depth level
- nesting_depth = local_assigns.fetch(:nesting_depth, 1)
-# Amount of comments of one thread that available on one page.
-#   Other comments of the same thread will be moved to a separate page
- nesting_limit = local_assigns[:nesting_limit]

-# Give each thread block an individual id in order to be able anchor any of it
.tile.is-child{ id: dom_id(comment) }

  -# Block of a single comment
  .message
    .message-body#comment-body
      - if comment.deleted?
        %span.weight-semibold [deleted]
      - else
        %span.weight-semibold= link_to full_name(comment.author), |
                                       user_path(comment.author)  |

      %span= link_to '[link to this comment]', url_for(comment: comment.id,
                                                        anchor: dom_id(comment))

      %p= simple_format comment.body
      %p.grey= creation_time(comment)

      -# Block of the reply-to-comment form. Required by stimulus js
      %div{ 'data-controller' => 'reply' }
        -# Button that toggles visibility of the form
        = link_to 'Reply', '#',  data: { action: 'click->reply#toggle' }, |
                                class:  'button is-small'                 |
        -# target: the pointer for stimulus to the form
        = render 'comments/form',                                  |
                  commentable:  comment.commentable,               |
                       target: 'reply.form',                       |
                        class: 'is-hidden',                        |
                    parent_id:  reply_to_comment_id(comment,       |
                                                    nesting_depth, |
                                                    nesting_limit) |

      -# Button to delete comment
      = link_to_if comment.author == current_user,         |
                   '',                                     |
                  [comment.commentable, comment],          |
                   method:  :delete,                       |
                     data: { confirm: 'Delete comment?' }, |
                    class:  'fa fa-trash-o',               |
                       id:  'button--delete-comment'       |

  -# Block that contain children comments of the comment above
  .tile.is-parent.is-vertical{ id: "#{ dom_id(comment) }_comments" }

    -# If nesting depth isn't set or has reached its limit
    -#   move subsequent comments to the next page
    -# Otherwise keep nesting
    - if nesting_limit.present? && (nesting_depth >= nesting_limit)
      = link_to 'Continue this thread',                                       |
                 url_for(parent_comment: comment.id, anchor: dom_id(comment)) |
    - else
      = render comment.comments, nesting_limit: nesting_limit,    |
                                 nesting_depth: nesting_depth + 1 |
