= form_with model: [commentable, Comment.new],                  |
            local:  true,                                       |
             html:  { class:   local_assigns[:class],           |
                       data: { target: local_assigns[:target] } |
                    } do |f|                                    |

  = f.hidden_field :parent_id, value: local_assigns[:parent_id]

  - if alert
    - body_danger = 'is-danger'
    .notification.is-danger
      - flash[:alert].each do |msg|
        %p= msg

  .field
    .control
      = f.text_area :body,       class: "textarea is-small #{ body_danger }", |
                           placeholder: 'Add a comment'                       |

  .field
    .control
      = f.submit 'Post', class: 'button is-pulled-left is-info width-20'
