=form_with model: @post, local: true do |f|
  = f.hidden_field :wall_id
  = f.hidden_field :author_id
  = f.hidden_field :user_id, value: params[:id]

  - if flash[:failed_post_errors]
    - input_border = 'is-danger'
    .notification.is-danger
      - flash[:failed_post_errors].each do |msg|
        %p= msg

  .field
    .control
      = f.text_area :body,       class: "textarea is-small #{ input_border }", |
                           placeholder: 'Post something!'                      |

  .field
    .control
      = f.submit 'Post', class: 'button is-pulled-left is-info width-20'
