.tile.is-ancestor
  .tile.is-vertical
    .tile.is-parent.is-vertical
      .tile.is-child.box
        %p.title.is-5= link_to full_name(@post.user), user_url(@post.user)
        %p.subtitle.is-6.grey= creation_time(@post)
        .content= @post.body

      .tile.is-child.box
        = render partial: 'comments/form', locals: { commentable: @post }

    .tile.is-parent.is-vertical.box
      - if params[:comment]
        .tile.is-child
          %span Viewing single comment thread.
          = link_to ' View all comments', url_for()
      = render @comments, continue_thread: 5

      -# Uncomment the code below to enable limiting of the
        -# number of threads per page. Also uncomment a part of code in the
        -# post_controller.rb
      -# uncomment this --->>>
      -# .tile.is-child
      -#   = paginate @comments
      -# <<<--- uncomment this
