!!!
%html
  %head
    = render 'layouts/head'
    %title VkClone
  %body
    %nav.navbar.is-black.px-6.mb-4
      .navbar-brand
        .navbar-item
          = link_to 'VkClone', root_url,                          |
                     class: 'button is-radiusless title is-black' |
        %a.navbar-burger.burger{ 'data-target' => 'navMenu' }
          %span
          %span
          %span

      .navbar-menu#navMenu
        .navbar-end
          .buttons
            - if user_signed_in?
              = link_to 'Sign out', destroy_user_session_url, method: :delete, |
                         class: 'navbar-item button is-radiusless              |
                                 is-black is-inverted is-outlined'             |
            - else
              = link_to 'Log in', new_user_session_url,            |
                         class: 'navbar-item button is-radiusless  |
                                 is-black is-inverted is-outlined' |
              \
              = link_to 'Sign up', new_user_registration_url,      |
                         class: 'navbar-item button is-radiusless  |
                                 is-black is-inverted is-outlined' |

    .hero.px-4
      .columns{ style: 'justify-content: center'}
        - if user_signed_in?
          .column.is-1.menu-wrap
            %aside.menu
              %ul.menu-list
                %li
                  %a{ href: root_path }
                    %span.icon
                      %i.fa.fa-home
                    %span My page
                %li
                  %a{ href: users_path }
                    %span.icon
                      %i.fa.fa-user
                    %span Users
        .column#mainContentBlock
          = yield
