!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title VkClone
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all',                    |
                                        'data-turbolinks-track': 'reload' |
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.is-black.px-6.mb-4
      .navbar-brand
        .navbar-item
          = link_to 'VkClone', root_url,                          |
                     class: 'button is-radiusless title is-black' |
        %a.navbar-burger.burger{ 'data-target' => 'navMenu' }
          %span
          %span
          %span

      .navbar-menu#navMenu
        .navbar-end
          .buttons
            - if user_signed_in?
              = link_to 'Sign out', destroy_user_session_url, method: :delete, |
                         class: 'navbar-item button is-radiusless              |
                                 is-black is-inverted is-outlined'             |
            - else
              = link_to 'Log in', new_user_session_url,            |
                         class: 'navbar-item button is-radiusless  |
                                 is-black is-inverted is-outlined' |
              \
              = link_to 'Sign up', new_user_registration_url,      |
                         class: 'navbar-item button is-radiusless  |
                                 is-black is-inverted is-outlined' |

    .hero.px-6
      = yield
